h2 {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
}

.ui.segment {
  padding: 10px;
  background-color: rgba(255,255,255, 0.62);
  border-bottom: 1px rgba(247, 255, 129, 0.5) solid;

}

header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-bottom: 1px rgba(247, 255, 129, 0.5) solid;
}

h2 {
  display: inline-block;
}

.tracks {
  background-color: rgba(53, 131, 219, 1);
}

h2#select {
  color: rgba(247, 255, 129, 1);
  margin-left: 40px;
}
